<style>
    .maincontainer{
        background-image:url('/images/cinema_background.avif');
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .box{
        background-image:url('/images/boximage.jpg');
        /* background-color: #fff; */
        width: 50%;
        height: auto;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
    }
    .heading{
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        font-family: Oswald;
        padding: 5px;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
    }
    .rightsideDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gap{
        margin-bottom: 10px;
    }
    .message{
        font-family: Oswald;
        justify-content: center;
        color: #fff;
    }
    .textboxstyle{
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 700px;
        width: 300px;
        height: 22px;
        padding-left: 5px;
    }
    .textDivStyle{
        display: flex;
        justify-content: center; 
        margin: 8px; 
        padding: 8px;
        background: #fff;
    }
</style>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>

<body>
    <div class="maincontainer">
        <div class="box">
            <form action="/admin/check_admin_login" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/loginimage.png" width="100%" >
                        
                    </div>
                    <div class="col-md-6 rightsideDiv">
                        <div class="row">
                            <div class="col-md-12 gap heading">
                                Welcome Back
                            </div>
                            <div class="col-md-12 gap">
                                <label for="uid" class="form-label" style="color: #fff;">User Id</label>
                                <div class="textDivStyle">
                                <img src="/images/user.jpg" style="width: 20px; height: 20px;">
                                <input type="text" class="textboxstyle" name="emailid">
                                </div>
                            </div>
                            <div class="col-md-12 gap">
                                <label for="pwd" class="form-label" style="color: #fff;">Password</label>
                                <div class="textDivStyle">
                                <img src="/images/pass.png" style="width: 20px; height: 20px;">
                                <input type="password" class="textboxstyle" name="password">
                                </div>
                            </div>
                            <div class="col-md-12 gap" style="display: flex; justify-content: center;">
                                <button style="width:330px" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            
                            <div class="col-md-12" style="display: flex; justify-content: center;">
                                <h5 class="message"><%=message %></h5>
                            </div>
                            
                        </div>                                           
                        
                    </div>
                
                </div>
        
            </form>
        </div>
    </div>

</body>
</html>
